/node_modules
/public/hot
src/public/storage
src/vendor
src/.env
src/.env.backup
src/.phpunit.result.cache
src/docker-compose.override.yml
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log
.idea
.vscode
src/public/image/
src/image